<ion-content id="body">
	<ion-header id="head">
	  <ion-toolbar id="tools">
	  	<ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
	  	<ion-title id="titulo">SELEZIONA IL SISTEMA</ion-title>
	  </ion-toolbar>
	</ion-header>

	<p id="as">Affinare il sistema</p>
	<ion-row *ngFor="let t of checks; let i = index" lines="none" class=filas>
		<ion-col>
			<ion-item class="items" lines="none" (click)="seleccionar(i)">
				<ion-checkbox [checked]="i | verificar:checked:true"></ion-checkbox>
				<p>{{ t }}</p>
			</ion-item>
		</ion-col>
	</ion-row>
	<p id="alerta">Fai clic su continua per selezionare i numeri</p>

	<!-- <ion-button *ngIf="returnBack" (click)="goToCombinazione()" [disabled]="checked.length == 0" shape="round" id="continuar">CONTINUA</ion-button> -->
	<ion-button routerLink="/seleccion2" routerDirection="root" [disabled]="checked.length == 0" shape="round" id="continuar">CONTINUA</ion-button>
</ion-content>