.toolbar-container, #body, #tools, #head{
	--background: #771211;
	--color: white;
	display: flex;
	font-family: 'geometos';
	font-size: 11px;
}
#titulo{
	font-family: 'geometos';
	font-size: 14px;
	margin: auto;
	text-align: center;
	position: relative;
	left: -7.5%;
}
.items{
	--background: transparent;
	--color: white;
	font-size: 12px;
}
#as{
	font-size: 12px;
	display: block;
	text-align: center;
}
.filas{
	width: auto !important;
	display: flex !important;
	font-family: 'geometos';
	font-size: 12px;

	ion-col{
		margin: auto;
		display: flex;

		p, ion-checkbox{
			margin: auto;
		}
		ion-checkbox{
			margin-left: 0;
		}
		p{
			position: relative;
			margin-left: 10px;
		}
		ion-checkbox{
			--height: 10px;
			--width: 10px;
			display: inline-table;
		}
	}
}
#continuar{
	margin: auto;
	display: block;
	margin-top: 10px;
	--background: white;
	--color: #771211;
	width: 200px;
}
#alerta{
	font-family: 'geometos';
	font-size: 9px;
	margin: auto;
	text-align: center;
	margin-top: 120px;
}