#body, #head{
	--background: #771211; 
	font-family: 'roboto';
	font-size: 14px;
}
#ue{
	text-align: center !important;
    color: white;
    background: #771211;
    font-family: "roboto";
    font-size: 14px;
    position: relative;
    margin-right: 10%;
}
.datos{
	width: 90%;
	margin-top: 0%;
	margin: auto;
}
.datos, #number {
	[id*="ultime"] {
		width: 20%;
		height: 70px;
		text-align: center;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 40px 40px;
		float: left;
	}
}
.datos, #number {
	[id*="ultime"] {
		display: flex;
		b{
			position: relative;
			margin: auto;
			color: black;
		}
	}
}
#dia b{
	color: white;
	font-size: 12px;
	text-align: center;
	display: block;
}
.datos:before {
	content: "";
	clear: both;
}

#ultime0, #ultime2, #ultime4{
	background-image: url('/assets/fondo-numero-rojo-balnco.png');
}
#ultime1, #ultime3{
	background-image: url('/assets/fondo-numero-azul-blanco.png');
}
#uc{
	margin: auto;
	height: 32px;
	width: 80%;
	margin-bottom: 0%;
	text-align: center;
	background: white;
	color: #771211;
	ion-col {
		display: flex;
	}
}
#ucc{
	width: 100%;
	position: relative;
	margin: auto;
}
#ucp{
	position: relative;
	margin: auto;
}
#vincite{
	color: white;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 90%;
}
#resultados{
	--background: #771211;
	width: 90%;
	margin-left: 5%;
	border-bottom: 1px solid white; 
	margin-bottom: 5%;
}
#v{
	width: 33.33%;
	text-align: center;
	font-weight: 100;
	font-size: 14px;
	text-align: left;

	td:first-child {text-align: left;}
	td:nth-child(2) {text-align: center;}
	td:last-child {text-align: right;}
}
#estrazioni{
	width: 90%;
	height: 20%;
	--background: #771211;
}
#fecha, #dia, #number{
	margin: auto;
	width: 100%;
	font-size: 14px;
}
#fecha{
	height: auto;
	padding: 10px;
	color: white;
	font-weight: 100;
	text-align: left;
	border: 1px solid white;
	margin-top: 5%;
	background: #C83C3C;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#dia{
	color: white;
	height: 20%;
	background: #B23838;
}
#number{
	background: white;
	border-radius: 10px;
	height: 130px;
	width: 90%;
	margin-left: 5%;
}
#fecha p{
	text-align: left;
	width: 100%;
	margin: 0 !important;
}
#tab{
	width: 100%;
}
.green {
	color: #00ff00 !important;
}
.verde#ultime0, .verde#ultime2, .verde#ultime4{
	background-image: url('/assets/fondo-numero-rojo-verde.png') !important;
}
.verde#ultime1, .verde#ultime3{
	background-image: url('/assets/fondo-numero-azul-verde.png') !important;
}