.toolbar-container, #body, #tools, #head{
	--background: #771211;
	--color: white;
}
#exclusion{
	padding: 2.5% 0 0 0;
	text-align: center;
	color: white;
	font-family: 'geometos';
	font-size: 10px;
	line-height: 2;
}
#titulo{
	font-family: 'geometos';
	font-size: 14px;
	margin: auto;
	text-align: center;
	position: relative;
	left: -7.5%;
}
#fila{
	.n1, .n2{
		text-align: center;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 37.5px 37.5px;
		height: 12.5%;
		width: 100%;
	}
} 
 .n1, .n2{
	b{
		margin: auto;
		color: black;
	}
 } 
 .c1, .c2{
 	b{
 		margin: auto;
 		color: black;
 	}
 }
.c1{
	background-image: url('/assets/fondo-numero-rojo-balnco.png');
}
.c2{
	background-image: url('/assets/fondo-numero-azul-blanco.png');
}
.c1, .c2{
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	height: 100%;
	display: flex;
}
.n1, .n2{
	[id*="numero"]{
		height: 100%;
	}
}
#seleccionado{
	height: 50px;
	margin-top: 5%;
}
#contenedor{
	width: 95%;
	margin-left: 2.5%;
	border-bottom: 1.5px solid white;
}
#fila{
	margin: none;
	height: 100%;
	width: 80%;
	position: relative;
	left: 10%;
}
#columna{
	height: 100%;
	border: solid;
}
#verifica{
	margin-top: 5%;
	width: 75%;
	margin-left: 12.5%;
	--background: white;
	--color: #771211;
	font-weight: bolder;
	--box-shadow: none;
}
.n1{
	width: 100%;
	height: auto;

	[id*="numero"]{
		display: none;
	}
	[id*="numero"] + label{
		background-image: url('/assets/fondo-numero-rojo-balnco.png');
		text-align: center;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 35px;
		height: 50px;
		display: flex;
	}
}
.n1{
	[id*="numero"]:checked + label{
		background-image: url('/assets/fondo-numero-rojo-verde.png');
	}
}
.n2{
	width: 100%;
	height: auto;

	[id*="numero"]{
		display: none;
	}
	[id*="numero"]+label{
		background-image: url('/assets/fondo-numero-azul-blanco.png');
		text-align: center;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 35px;
		height: 50px;
		display: flex;
	}
}
.n2{
	[id*="numero"]:checked + label{
		background-image: url('/assets/fondo-numero-azul-verde.png');
	}
}