<ion-content id="body">
	<div id="presentacion">
	<ion-toolbar id="tools">
	    <ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
	    <p id="VINCICASA">CHANCE VINCICASA</p>
	</ion-toolbar>
      <img src="../assets/icono superior.png" id="million">
      <!--<img src="../assets/monedas-2.png" id="fondo">-->
    </div>
	<div id="game">
		<h5 (click)="reloj()">PROSSIMO CONCORSO TRA</h5>
		<div id="tiempo">
			
		</div>
		<h1 id="chance">
			La tua chance<br> 
			per vincere il
		</h1>
		<h1 id="mday">VINCICASA</h1>
		<ion-row id="tutorial" style="display: none;">
			<ion-col>
				<ion-button shape="round" expand="full" size="large" id="tuto" routerLink="/manual" routerDirection="root">
					TUTORIAL
				</ion-button>
			</ion-col>
		</ion-row>
	</div>
</ion-content>