<ion-app>
	<ion-menu menuId="main-menu" content-id="main" id="menup" autoHide="true">
		<ion-header id="header">
			<ion-toolbar id="tools">
				<ion-row>
					<ion-col>
						<img src="../assets/profile.png" id="profile">
					</ion-col>
					<ion-col>
						<ion-row>
							<ion-col *ngIf="user" id="usuario">
								<p>{{ user }}</p>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col>
								<ion-menu-toggle auto-hide="true">
									<ion-button menuToggle fill="outline" (click)="logout()" id="salir">ESCI</ion-button>
								</ion-menu-toggle>
							</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
			</ion-toolbar>
		</ion-header>
		<ion-content id="menu">
			<ion-list id="lista">
				<ion-menu-toggle auto-hide="true">
					<ion-item class="items" lines="none" routerLink="/feed" routerDirection="root">
						<ion-icon src="../assets/browser.svg"></ion-icon>
						<ion-label class="label">HOME</ion-label>
					</ion-item>
          		</ion-menu-toggle>
				<ion-menu-toggle auto-hide="true">
					<ion-item class="items" lines="none" routerLink="/combinazione" routerDirection="root">
						<ion-icon src="../assets/lotto.svg"></ion-icon>
						<ion-label class="label">LA TUA COMBINAZIONE</ion-label>
					</ion-item>
          		</ion-menu-toggle>
				<ion-menu-toggle auto-hide="true">
					<ion-item class="items" lines="none" routerLink="/selezionis" routerDirection="root">
						<ion-icon src="../assets/match.svg"></ion-icon>
						<ion-label class="label">SELEZIONA IL SISTEMA</ion-label>
					</ion-item>
          		</ion-menu-toggle>
				<ion-menu-toggle auto-hide="true">
					<ion-item class="items" lines="none" routerLink="/mnumeros" routerDirection="root">
						<ion-icon src="../assets/bingo.svg"></ion-icon>
						<ion-label class="label">TEST DEI TUOI NUMERI</ion-label>
					</ion-item>
          		</ion-menu-toggle>
				<ion-menu-toggle auto-hide="true">
					<ion-item class="items" lines="none" routerLink="/estadisticas" routerDirection="root">
						<ion-icon src="../assets/statistics.svg"></ion-icon>
						<ion-label class="label">STATISTICHE</ion-label>
					</ion-item>
          		</ion-menu-toggle>
				<ion-menu-toggle auto-hide="true">
					<ion-item class="items" lines="none" routerLink="/verifica" routerDirection="root">
						<ion-icon src="../assets/bingo-3.svg"></ion-icon>
						<ion-label class="label">VERIFICA SCHEDINA</ion-label>
					</ion-item>
          		</ion-menu-toggle>
				<ion-menu-toggle auto-hide="true">
					<ion-item class="items" lines="none" routerLink="/historial" routerDirection="root">
						<ion-icon src="../assets/bingo-2.svg"></ion-icon>
						<ion-label class="label" >ULTIME ESTRAZIONI</ion-label>
					</ion-item>
          		</ion-menu-toggle>
				<ion-menu-toggle auto-hide="true">
					<ion-item class="items" lines="none" routerLink="/archivo" routerDirection="root">
						<ion-icon src="../assets/list.svg"></ion-icon>
						<ion-label class="label">ARCHIVIO ESTRAZIONI</ion-label>
					</ion-item>
          		</ion-menu-toggle>
				<ion-menu-toggle auto-hide="true">
					<ion-item class="items" lines="none" routerLink="/manual" routerDirection="root">
						<ion-icon src="../assets/school.svg"></ion-icon>
						<ion-label class="label">TUTORIAL</ion-label>
					</ion-item>
          		</ion-menu-toggle>
				<ion-menu-toggle auto-hide="true">
					<ion-item class="items" lines="none" routerLink="/dona" routerDirection="root">
						<ion-icon src="../assets/donation.svg"></ion-icon>
						<ion-label class="label">DONA</ion-label>
					</ion-item>
          		</ion-menu-toggle>
			</ion-list>
		</ion-content>

		<ion-footer>
			<p style="color: #fff; text-align: center;">V 0.0.10</p>
		</ion-footer>
	</ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
