<ion-content id="body">
	<div id="presentacion">
		<ion-toolbar id="tools">
			<ion-menu-button menu="main-menu" slot="start" id="mboton"></ion-menu-button>
		    <ion-label id="titulo">COMBINAZIONE</ion-label>
		</ion-toolbar>
		<img src="../assets/icono superior.png" id="million">
		<!--<img src="../assets/monedas-2.png" id="fondo">-->
	</div>
	<ion-row style="margin-top: -8px;">
		<ion-col id="hoy">
			LA TUA COMBINAZIONE <br> {{ hoy }}
		</ion-col>
	</ion-row>
	<ion-row id="combinacion" *ngIf="combinacion.length > 0">
		<ion-col class="columna">
			<div class="n1">
				<b>{{ combinacion[0] }}</b>
			</div>
		</ion-col>
		<ion-col class="columna2">
			<div class="n2">
				<b>{{ combinacion[1] }}</b>
			</div>
		</ion-col>
		<ion-col class="columna">
			<div class="n1">
				<b>{{ combinacion[2] }}</b>
			</div>
		</ion-col>
		<ion-col class="columna2">
			<div class="n2">
				<b>{{ combinacion[3] }}</b>
			</div>
		</ion-col>
		<ion-col class="columna">
			<div class="n1">
				<b>{{ combinacion[4] }}</b>
			</div>
		</ion-col>
	</ion-row>
	<div id="content">
		<ion-button shape="round" size="large" id="modifica" (click)="modifica()" [disabled]="contador > 0">MODIFICA COMBINAZIONE</ion-button>
	</div>
	<p id="combo">ULTIME 3 COMBINAZIONI</p>
	<ion-row id="uc" *ngIf="fechas.length > 0 && ultimos.length > 0">
		<div *ngFor="let fecha of fechas; let i = index">
			<ion-row *ngIf="i < 3">
				<ion-col [ngClass]="'cn'+ (x + 1)" *ngFor="let ultimo of ultimos[i]; let x = index">
					<label>{{ ultimo }}</label>
				</ion-col>
				<ion-col>
					<label id="fechau" style="font-size: 14px;padding: 7px 0;display: block; width: 110px;">{{ fecha }}</label>
				</ion-col>
			</ion-row>
		</div>
	</ion-row>
	
</ion-content>