<ion-content [fullscreen]="true" id="contenedor">
  <div id="container">
    <div id="presentacion">
      <h2>CHANCE VINCICASA</h2>
      <img src="../assets/icono superior.png" id="million">
     <!-- <img src="../assets/monedas-2.png" id="fondo"> -->
    </div>
    <form method="POST" #f="ngForm" (ngSubmit)="registrarse(f)" id="register" style="margin-top: -8px">
        <ion-row>
          <ion-col>
            <ion-item id="entrada2" lines="none" style="margin-top: 0">
              <ion-input placeholder="NOME UTENTE" type="text" name="formulario.nombre" [(ngModel)]="formulario.nombre" autocomplete="off"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item id="entrada2" lines="none">
              <ion-input placeholder="E-MAIL" type="text" name="formulario.correo" [(ngModel)]="formulario.correo" autocomplete="off"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row style="width: 80%; margin: auto;">
          <ion-col size="8">
            <ion-datetime [(ngModel)]="formulario.fecha" name="formulario.fecha" value="2019-10-01T15:43:40.394Z" displayFormat="DD MMM YYYY" display-timezone="utc"
            monthShortNames="gen, feb, mar, apr, mag, giu, lug, ago, set, ott, nov, dic"
            placeholder="DATA DI NASCITA"
            cancel-text="Chiudi"
            done-text="Ok"
            ></ion-datetime>

          </ion-col>

          <ion-col size="4">
            <ion-select placeholder="SESSO" name="formulario.sexo" [(ngModel)]="formulario.sexo" id="sexo">
              <ion-select-option value="D">DONNA</ion-select-option>
              <ion-select-option value="U">UOMO</ion-select-option>
              <ion-select-option value="A">ALTRO</ion-select-option>
            </ion-select>
          </ion-col>
          <!--<ion-col>
            
          </ion-col>-->
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item id="entrada2" lines="none">
              <ion-input placeholder="PASSWORD" name="formulario.password" type="password" [(ngModel)]="formulario.password" autocomplete="off"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item id="entrada2" lines="none">
              <ion-input placeholder="CONFERMA PASSWORD" name="confirmar" type="password" [(ngModel)]="confirmar" autocomplete="off"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ir pt-16">
          <ion-col>
            <a (click)="cambio()">Hai già un account? <p>accesso</p></a>
          </ion-col>
        </ion-row>
        <ion-row class="ir">
          <ion-col>
            <a routerLink="/recuperar">Ho dimenticato la mia <p>password</p></a>
          </ion-col>
        </ion-row>
        
        <ion-row style="width: 95%; margin: auto;">
          
          <ion-col>
            <ion-list style="background: transparent;">
              <ion-item lines="none" style="--background: transparent;">
                <label style="color: white; font-size: 14px; white-space: normal; text-align: center; width: 100%;">Ho letto ed accetto <a href="https://google.com" style="color: lightblue" target="_blank">l’informativa privacy</a>
                  <input type="checkbox" [(ngModel)]="valor" name="valor" style="position: relative; margin-left: 8px; top: 3px; width: 16px; height: 16px;">
                </label>
              </ion-item>
              <!-- <ion-item lines="none" style="--background: transparent;">
                <ion-label style="--color: white; font-size: 12px; white-space: normal;">Ho letto ed accetto le condizioni d’uso</ion-label>

                <ion-checkbox slot="end" [(ngModel)]="condiciones" name="condiciones"></ion-checkbox>
              </ion-item> -->
            </ion-list>
          </ion-col>

        </ion-row>

        <ion-row>
          <!-- <ion-col>
            <ion-button shape="round" type="reset" expand="full" id="botones">PULITO</ion-button>
          </ion-col> -->
          <ion-col>
            <ion-button style="margin-bottom: 16px;" shape="round" type="submit" expand="full" id="botones">REGISTRATI</ion-button>
            <br>
          </ion-col>
        </ion-row>
    </form>
  </div>
  <div id="container2">
    <div id="presentacion">
      <h2>CHANCE VINCICASA</h2>
      <img src="../assets/icono superior.png" id="million">
      <!--<img src="../assets/monedas-2.png" id="fondo">-->
    </div>
    <form method="POST" (ngSubmit)="sesion(f)" id="fsesion" style="margin-top: -8px">
      <ion-row>
        <ion-col>
          <ion-item id="entrada2" lines="none" style="margin-top: 0">
            <ion-input placeholder="E-MAIL" [(ngModel)]="isesion.correo" name="isesion.correo" type="email" id="" autocomplete="off"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item id="entrada2" lines="none">
            <ion-input placeholder="PASSWORD" [(ngModel)]="isesion.password" name="isesion.password" type="password" id="psesion" autocomplete="off"></ion-input>
          </ion-item>
        </ion-col> 
      </ion-row>
      <ion-row class="ir pt-16">
        <ion-col>
          <a (click)="cambio2()">Non ho un account, <p>registrati</p></a>
        </ion-col>
      </ion-row>
      <ion-row class="ir">
        <ion-col>
          <a routerLink="/recuperar">Ho dimenticato la mia <p>password</p></a>
        </ion-col>
      </ion-row>
      <ion-row id=sesionb>
        <ion-col></ion-col>
        <ion-button style="margin-top: 16px; margin-bottom: 16px" type="submit" shape="round" expand="block" size="large" id="botones2">OK</ion-button>
        <ion-col></ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
