<ion-content id="body">
	<div id="presentacion">
	<ion-toolbar id="tools">
		<ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
	    <ion-label id="titulo">DONA</ion-label>
	</ion-toolbar>
	<img src="../assets/icono superior.png" id="million">
	<!--<img src="../assets/monedas-2.png" id="fondo">-->
	</div>
	<label id="prop">
		Hai vinto grazie alla nostra app?<br>
		Sostienici con una donazione!
	</label>
	<br><br>
	<label id="info">QUANTO VUOI DONARE?</label>
	<span id="monto">
		<span style="margin: auto;">
		<input type="number" step="0,01" style="background-color: transparent; border: none; width: 50px; text-align: center;"> <span style="color: #771211" #monto>€</span>
		</span>
	</span>
	<ion-button expand="full" size="large" shape="round" id="dona" (click)="comprar()">DONARE</ion-button>
</ion-content>